<div class="signuppage">
<h1 id="welcome-header"> Call of Duty </h1>

<h3 class="signupbox"> Please fill in the below information to sign up for your new account! </h3><br><br>

<form class="signupbox" action="/users/new" method="POST">
  <label>Username</label><br>
  <input name="username" type="text"><br><br>
  <label>Email</label><br>
  <input name="email" type="text"><br><br>
  <label> Password </label><br>
  <input name="username" type="password"><br><br>
  <input type="submit" value="Sign Up!">
</form>
<br><br><br>
<a href="/"> Return to Homepage </a>
</div>
