
<div class="user-profile">



<h1> Welcome, <%= @player.username %>! </h1>

<br><h3>Click to see a loadout</h3><br>
<a class="btn btn-default" href="#">Loadout 1</a>
<a class="btn btn-default" href="#">Loadout 2</a>
<a class="btn btn-default" href="#">Loadout 3</a>
<a class="btn btn-default" href="#">Loadout 4</a>
<a class="btn btn-default" href="#">Loadout 5</a>
</div>
