<div class="signinpage">
<h1 id="welcome-header"> Call of Duty </h1>

<h3 class="signinbox"> Please sign into your account or sign up for free! </h3>

<form class="signinbox" action="/users/login" method="POST">
  <label>Username</label><br>
  <input name="username" type="text"><br><br>
  <label> Password </label><br>
  <input name="password" type="password"> </input><br><br>
  <input type="submit" value="Sign In!">
</form>
<br>
<br>
<a href="/users/new"> Sign Up For A Free Account!</a>
</div>
